@charset "UTF-8";
/* ******************** > Обнуление стилей < ******************** */
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ******************** > *** < ******************** */
@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Medium.woff2") format("woff2"), url("./../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  src: url("./../fonts/CircularStd-Bold.woff2") format("woff2"), url("./../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Proxima Nova";
  src: url("./../fonts/proxima-nova-regular.woff2") format("woff2"), url("./../fonts/proxima-nova-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]::after,
[class*=" icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-twitter-1:before {
  content: "\e902";
}

.icon-video:before {
  content: "\e903";
}

.icon-portfolio:before {
  content: "\e904";
}

.icon-d:before {
  content: "\e905";
}

.icon-Menu:before {
  content: "\e906";
}

.icon-slices:before {
  content: "\e907";
}

.icon-qube:before {
  content: "\e908";
}

body {
  font-family: Circular;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.subheading {
  font-weight: 700;
  font-size: 52px;
  line-height: 132%;
  color: #56597a;
}

.label {
  display: inline-block;
  font-family: "Circular", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 143%;
  color: #f78cb6;
}

.text {
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #919299;
}

.button {
  width: 194px;
  height: 58px;
}

.button__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f78bb6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: 0.02em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button__link:hover {
  background-color: #fba9ca;
}

.info {
  position: relative;
}

.info::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("./../img/exit.svg") 0 0/contain no-repeat;
  width: 38px;
  height: 28px;
}

.page__start {
  margin-bottom: 103px;
}

.page__services {
  margin-bottom: 154px;
}

.start__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 33px 23px 0 9px;
}

.start__label {
  position: relative;
  margin-bottom: 29px;
  padding-left: 43px;
}

.start__label::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 3px;
  background: url("./../img/underline.svg") 0 0/contain no-repeat;
  left: 0;
  top: 27px;
}

.start__heading {
  font-family: "Circular";
  font-weight: 700;
  font-size: 64px;
  line-height: 116%;
  color: #56597a;
  margin-bottom: 31px;
}

.start__text {
  max-width: 537px;
  margin-bottom: 42px;
}

.start__wrap-button {
  max-width: 216px;
  height: 66px;
}

.start__button {
  width: 216px;
  height: 66px;
}

.start__button span {
  position: relative;
  padding-right: 62px;
}

.start__button span::after {
  content: "";
  position: absolute;
  width: 43px;
  height: 32px;
  background: url("./../img/exit.svg") 0 0/contain no-repeat;
  right: 0;
  bottom: 0;
}

.start__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 532px;
          flex: 0 0 532px;
}

.start__image img {
  max-width: 100%;
}

@media (max-width: 1110px) {
  .start__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
  .start__heading {
    max-width: 450px;
    font-size: 45px;
  }
}

@media (max-width: 1023px) {
  .start__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start__heading {
    margin: 0 auto 31px;
  }
  .start__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 470px;
            flex: 0 0 470px;
  }
  .start__body {
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .start__text {
    margin: 0 auto 42px;
  }
  .start__button {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .start__heading {
    font-size: 35px;
  }
  .start__text {
    text-align: justify;
  }
  .start__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.header__row {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 128px;
  z-index: 10;
}

.header__logo img {
  width: 106px;
  height: 30px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__point {
  margin-right: 71px;
}

.header__ref {
  font-family: "Circular", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #aaaaab;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__ref:hover {
  color: #56597a;
}

.header__burger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: relative;
}

.header__burger::before {
  content: "";
  background: url("./../img/Menu.svg") 0 0/contain no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {
  .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    text-align: center;
    margin-bottom: 25px;
  }
  .header__logo::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("./../img/Menu.svg") 0 0/contain no-repeat;
    position: absolute;
    right: 30px;
    top: 15px;
  }
  .header__nav {
    margin-bottom: 10px;
  }
  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header__list::after {
    content: none;
  }
  .header__point {
    margin: 0 auto;
    margin-right: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
    padding: 25px;
  }
}

.services__label {
  display: block;
  text-align: center;
  margin-bottom: 6px;
}

.services__subheading {
  text-align: center;
  margin-bottom: 58px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.services__item {
  position: relative;
  padding: 53px 23px 46px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: #fff1f9;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #fff1f9;
  border-radius: 0 0 8px 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__item:hover {
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
  border-radius: 8px 8px 0 0;
  background: #f78cb6;
}

.services__item:hover .services__image::before {
  color: #fff;
}

.services__item:hover .services__wrap-more {
  display: block;
}

.services__item:hover .services__title {
  color: #fff;
}

.services__item:hover .services__text {
  color: #fff;
}

.services__item:hover::after {
  height: 40px;
  background-color: #f78cb6;
}

.services__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 212%;
  text-align: center;
  color: #56597a;
}

.services__image {
  text-align: center;
  margin-bottom: 42px;
}

.services__image img {
  max-width: 100%;
}

.services__image::before {
  font-size: 49px;
  color: #f78cb6;
}

.services__text {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #919299;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 32px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__wrap-more {
  display: none;
  text-align: center;
  position: absolute;
  bottom: -17px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.services__more {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-right: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.services__more:hover {
  color: #cff2a2;
}

.services__more:hover::after {
  border-left-color: #cff2a2;
}

.services__more::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1144px) {
  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -30px -15px;
  }
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34%;
            flex: 0 1 34%;
    padding: 20px;
  }
}

@media (max-width: 873px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
}

@media (max-width: 684px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 72%;
            flex: 0 1 72%;
    padding: 40px;
  }
}

@media (max-width: 505px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    padding: 35px;
  }
}

@media (max-width: 419px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 95%;
            flex: 0 1 95%;
  }
}

@media (max-width: 370px) {
  .services__label {
    font-size: 20px;
  }
  .services__subheading {
    font-size: 35px;
  }
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px;
    margin-bottom: 30px;
  }
}

.design__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 570px;
          flex: 0 0 570px;
  padding-top: 50px;
}

.design__image img {
  max-width: 100%;
}

.design__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 31px 0px 79px;
}

.design__label {
  margin-bottom: 15px;
}

.design__subheading {
  margin-bottom: 24px;
}

.design__text {
  margin-bottom: 40px;
}

.design__button span {
  position: relative;
  padding-right: 55px;
}
