.header {
    &__row {
        padding-top: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 128px;
        z-index: 10;
    }

    &__logo {
        img {
            width: 106px;
            height: 30px;
        }
    }

    &__nav {
    }

    &__list {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
            content: "";

            width: 24px;
            height: 24px;
            background: url("./../img/Menu.svg") 0 0 / contain no-repeat;

            position: absolute;
            right: 0;
            top: 3px;
        }
    }

    &__point {
        margin-right: 71px;
    }

    &__ref {
        font-family: "Circular";
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

        color: #aaaaab;

        transition: all 0.3s ease 0s;

        &:hover {
            color: #56597a;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__row {
            justify-content: center;
            flex-direction: column;
        }
        &__logo {
            text-align: center;
            margin-bottom: 25px;

            &::after {
                content: "";

                width: 24px;
                height: 24px;
                background: url("./../img/Menu.svg") 0 0 / contain no-repeat;

                position: absolute;
                right: 30px;
                top: 15px;
            }
        }
        &__nav {
            margin-bottom: 10px;
        }
        &__list {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            &::after {
                content: none;
            }
        }
        &__point {
            margin: 0 auto;
            margin-right: 10px;
            flex: 0 1 10%;
            padding: 25px;
        }
    }
}
