.start {
  &__row {
    display: flex;
  }

  &__body {
    flex: 1 1 auto;
    padding: 33px 23px 0 9px;
  }

  &__label {
    position: relative;
    margin-bottom: 29px;
    padding-left: 43px;

    &::before {
      position: absolute;
      content: "";

      width: 36px;
      height: 3px;
      background: url("./../img/underline.svg") 0 0 / contain no-repeat;

      left: 0;
      top: 27px;
    }
  }

  &__heading {
    font-family: "Circular";

    font-weight: 700;
    font-size: 64px;
    line-height: 116%;

    color: #56597a;
    margin-bottom: 31px;
  }

  &__text {
    max-width: 537px;
    margin-bottom: 42px;
  }

  &__wrap-button {
    max-width: 216px;
    height: 66px;
  }

  &__button {
    width: 216px;
    height: 66px;
    span {
      position: relative;
      padding-right: 62px;

      &::after {
        content: "";

        position: absolute;

        width: 43px;
        height: 32px;
        background: url("./../img/exit.svg") 0 0 / contain no-repeat;
        right: 0;
        bottom: 0;
      }
    }
    a {
      // Отличительные стили
    }
  }

  // &__link {
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   padding-right: 62px;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #f78bb6;
  //   border-radius: 4px;

  //   font-weight: 500;
  //   font-size: 20px;
  //   line-height: 150%;
  //   color: #ffffff;
  //   letter-spacing: 0.02em;

  //   transition: all 0.3s ease 0s;

  //   &::after {
  //     content: "";

  //     position: absolute;

  //     width: 43px;
  //     height: 32px;
  //     background: url("./../img/exit.svg") 0 0 / contain no-repeat;
  //   }

  //   &:hover {
  //     background-color: #fba9ca;
  //   }
  // }
  &__image {
    flex: 0 0 532px;
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 1110px) {
  .start {
    &__image {
      flex: 0 0 400px;
    }
    &__heading {
      max-width: 450px;
      font-size: 45px;
    }
  }
}

@media (max-width: 1023px) {
  .start {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__heading {
      margin: 0 auto 31px;
    }
    &__image {
      flex: 0 0 470px;
    }
    &__body {
      padding: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    &__text {
      margin: 0 auto 42px;
    }
    &__button {
      margin: 0 auto;
    }
  }
}
@media (max-width: 550px) {
  .start {
    &__heading {
      font-size: 35px;
    }
    &__text {
      text-align: justify;
    }
    &__image {
      flex: 0 1 100%;
    }
  }
}
