.start {
  &__row {
    display: flex;
  }

  &__body {
    flex: 1 1 auto;
    padding: 95px 23px 0 8px;
  }

  &__title {
    position: relative;
    margin-bottom: 29px;
    padding-left: 43px;

    &::before {
      position: absolute;
      content: "";

      width: 36px;
      height: 3px;
      background: url("./../img/underline.svg") 0 0 / contain no-repeat;

      left: 0;
      top: 20px;
    }
  }

  &__heading {
    font-family: "Circular";

    font-weight: 700;
    font-size: 64px;
    line-height: 116%;

    color: #56597a;
    margin-bottom: 31px;
  }

  &__text {
    width: 537px;
    margin-bottom: 42px;
  }

  &__wrap-button {
    max-width: 216px;
    height: 66px;
  }

  &__button {
  }
  &__image {
    flex: 0 0 532px;
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 1110px) {
  .start {
    &__image {
      flex: 0 0 400px;
      padding-right: 60px;
    }
    &__heading {
      font-size: 45px;
    }
  }
}
@media (max-width: 922px) {
  .start {
    &__image {
      flex: 0 0 400px;
      padding-top: 85px;
    }
    &__heading {
      font-size: 45px;
    }
    &__body {
      padding: 95px 5px;
    }
    &__text {
      max-width: 350px;
    }
  }
}
@media (max-width: 634px) {
  .start {
    &__image {
      flex: 0 0 345px;
    }
    &__heading {
      font-size: 35px;
    }
    &__text {
      max-width: 255px;
      font-size: 17px;
    }
  }
}
@media (max-width: 568px) {
  .start {
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__image {
      flex: 0 0 470px;
      margin-bottom: 30px;
      padding: 0 30px;
    }
    &__body {
      margin-bottom: 20px;
      text-align: left;
    }

    &__text {
      max-width: 400px;
      font-size: 24px;
    }
  }
}
@media (max-width: 375px) {
  .start {
    &__title {
      text-align: center;
      padding-left: 5px;
      position: relative;
      &::before {
        position: absolute;
        content: "";

        width: 36px;
        height: 3px;
        background: url("./../img/underline.svg") 0 0 / contain no-repeat;

        left: 12%;
        top: 20px;
      }
    }

    &__heading {
      text-align: center;
    }
    &__image {
      flex: 0 0 440px;
      margin-bottom: 30px;
      padding: 0 30px;
    }

    &__text {
      max-width: 380px;
      padding-left: 5%;
      font-size: 24px;
    }
    &__wrap-button {
      margin: 0 auto;
    }
  }
}
