.start {
  &__row {
    display: flex;
  }

  &__body {
    flex: 1 1 auto;
    padding: 95px 23px 0 8px;
  }

  &__title {
    position: relative;
    margin-bottom: 29px;
    padding-left: 43px;

    &::before {
      position: absolute;
      content: "";

      width: 36px;
      height: 3px;
      background: url("./../img/underline.svg") 0 0 / contain no-repeat;

      left: 0;
      top: 20px;
    }
  }

  &__heading {
    font-family: "Circular";

    font-weight: 700;
    font-size: 64px;
    line-height: 116%;

    color: #56597a;
    margin-bottom: 31px;
  }

  &__text {
    width: 537px;
    margin-bottom: 42px;
  }

  &__wrap-button {
    max-width: 216px;
    height: 66px;
  }

  &__button {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: 0.02em;

    color: #ffffff;

    background-color: #f78bb6;
    border: 1.5px solid #ffffff;
    border-radius: 4px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #fff1f9;
      .start__link {
        color: #56597a;
      }
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    padding-right: 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: 0.02em;

    color: #ffffff;
    &::after {
      position: absolute;
      content: "";

      width: 43px;
      height: 32px;

      background: url("./../img/exit.svg") 0 0 / contain no-repeat;
      right: 0;
      top: -1px;
    }
  }
  &__image {
    flex: 0 0 532px;
    img {
      max-width: 100%;
    }
  }
}
@media (max-width: 1110px) {
  .start {
    &__image {
      flex: 0 0 400px;
      padding-right: 60px;
    }
    &__heading {
      font-size: 45px;
    }
  }
}
@media (max-width: 922px) {
  .start {
    &__image {
      flex: 0 0 400px;
      padding-top: 85px;
    }
    &__heading {
      font-size: 45px;
    }
    &__body {
      padding: 95px 5px;
    }
    &__text {
      max-width: 350px;
    }
  }
}
@media (max-width: 634px) {
  .start {
    &__image {
      flex: 0 0 345px;
    }
    &__heading {
      font-size: 35px;
    }
    &__text {
      max-width: 255px;
      font-size: 17px;
    }
  }
}
@media (max-width: 568px) {
  .start {
    &__row {
      margin-left: 0;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__image {
      margin-bottom: 30px;
    }
    &__body {
      padding: 0;
      margin-bottom: 20px;
      text-align: left;
    }

    &__text {
      text-align: left;
      width: 400px;
    }
    &__wrap-send {
      text-align: left;
      margin: 0 auto;
    }
  }
}
